/*
Normalize e.g. In H1 tag their is always margin and padding is attached to it by default
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*border and padding is not added to total width and total height*/
    
}
body{
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-display: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image:linear-gradient(
        to right bottom,
        #00010DD0,
        #D9D9D9D0),
        url(../images/hero.jpeg); /*which ever we define first will come on top - so in this case first comes the gradient then image*/
    background-size: cover; /*always try to fit in the view port*/
    background-position: top; /*top portion will remain fix -- bottom ,center are other property that we can use generally*/
    clip-path: polygon(0 0, 100% 0 , 100% 75vh, 0 100%); /*can use bennettfeely.com/clippy for other clip polygon*/
}