/*
Normalize e.g. In H1 tag their is always margin and padding is attached to it by default
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*border and padding is not added to total width and total height*/
    
}
body{
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-display: 16px;
    line-height: 1.7;
    color: #777777;
}

.header{
    height: 95vh;
    background-image: url(../images/hero.jpeg);
    background-size: cover; /*always try to fit in the view port*/

}