//COLORS
$color-primary: #233D4D;
$color-primary-light:#71DDE3;
$color-primary-dark: #233D4D;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #02735E;
$color-tertiary-dark: #014034;


$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;


$color-dark-grey:#777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


