//COLORS
$color-primary: #8D8D8D;
$color-primary-light:#C1C1C1;
$color-primary-dark: #3B3B3B;

$color-light-grey-1: #f7f7f7;
$color-dark-grey:#777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


