//COLORS
$color-primary: #38617A;
$color-primary-light:#38617A;
$color-primary-dark: #233D4D;

$color-secondary-light: #FFAA2D;
$color-secondary-dark: #FE7F2D;

$color-tertiary-light: #86F0CF;
$color-tertiary-dark: #579C87;


$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;


$color-dark-grey:#777;
$color-dark-grey-2:#999;
$color-dark-grey-3:#333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


