
.btn{
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block; /*respect height and width - if we use block instead it will take full width of parent element*/
        border-radius: 10rem;/*we can give any high number*/
        transition: all .2s; /*transition is always defines in parent element*/  
    
        position: relative; /*putting because of pseudo elements absolute positioning*/
    
        font-size: 1.6rem;       
    }
    
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2); /*x offset = 0 y offset = 10px blur 20px*/

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active{
        transform: translateY(1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    &--white{
        background-color: $color-white;
        color: $color-dark-grey;
        padding: 1.5rem 4rem;

        &::after{
            background-color: #fff;
        }
    }
    
    &::after{
        content: ""; /*mandetory to define this*/
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    
        transition: all .4s;
    }
    
    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; /*automatically applies the behaviour of 0% i.e @keyframes 0% opacity 0*/
    }
}
